/* ===========================================================
   COLORS
=========================================================== */
$link: #c40c1d;
$bg_color: #f9f8f4;
$body_text: #000000;

/* SOCIAL COLORS */
$linkedin: #0073b2;
$google_plus: #f63e28;
$instagram: #507ea3;
$twitter_blue: #2daae1;
$facebook_blue: #3b5998;
$youtube_red: #ff3132;
$pinterest: #C92228;
$addthis: #FE6D4C;
$rss: #FF6600;

$default-box-shadow-color: #000000;
$default-box-shadow-h-offset: 0;
$default-box-shadow-v-offset: 0;
$default-box-shadow-blur: 0;
$default-box-shadow-spread: 0;
$default-box-shadow-inset: false;
/* ===========================================================
   BRANDING COLORS
=========================================================== */

$light_black: #2b2c2b;
$light_gray: #e4e4e4;
$white: #FFFFFF;
$black: #000000;
$gray: #9fa2a0;
$shadow: #c7c9c8;
$text_gray: #6f726f;
$green: #428a70;

$blue: #6A9FD6;

/* ===========================================================
   FONTS
=========================================================== */
$heading: $osb;
$text: $os;
$text_bold: $osb;